@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.element { 
  caret-shape: block;
}

.custom-input-container {
  position: relative;
  display: inline-block;
}

.custom-input {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: Arial, sans-serif;
}

.custom-cursor {
  width: 20px; /* Adjust the width to make it a square */
  height: 20px; /* Adjust the height to make it a square */
  background-color: black;
  position: absolute;
  top: 50%; /* Adjust the top position to vertically center the cursor */
  left: 10px; /* Ensure the cursor starts at the left edge of the input field */
  transform: translateY(-50%); /* Center the cursor vertically */
  animation: blink 0.5s infinite alternate; /* Blink animation */
}


@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
